body{
    background: 1px solid black;
    background: white;
}

.container{
    width: 95%;
    height: 100vh;
    display: flex;
    text-align: center;
}
.quotes{
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: black;
    background-color: whitesmoke;
    border: 10px solid black;
}
.quotes p, .quotes h3{
    font-size :1.5rem; 

}
@media(max-width:480px){
    .quotes p, .quotes h3{
        font-size:1rem; 
    
    }
}
.buttons{
    text-align: center;
    margin-bottom: 300px;
 
}